<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;0,800;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="article"/>
    <!-- Page Data -->
    <title><%= article.pageTitle %></title>
    <meta name="description" content="<%= article.pageDescription %>">
    <meta name="author" content="<%= article.author %>">
    <!-- Twitter MetaData -->
    <meta name="twitter:title" content="<%= article.twitterTitle %>">
    <meta property="twitter:description" content="<%= article.twitterDescription %>">
    <!-- <meta name="twitter:image" content="<%= article.twitterImg %>"> -->
    <!-- Other Social Media MetaData -->
    <meta property="og:title" content="<%= article.ogTitle %>">
    <meta property="og:description" content="<%= article.ogDescription %>">
    <!-- <meta property="og:image" content="<%= article.ogImg %>"> -->
    <meta property="og:url" content="<%= article.ogUrl %>">
</head>
<body>
    <div class="myContainer">
        <h1><%= article.title %></h1>
        <div><%= article.createdAt.toLocaleDateString() %></div>
        <a href="/">All Articles</a>
        <a href="/articles/edit/<% article.id %>">EDIT</a>
        <div><%= article.markdown %></div>
    </div>
</body>
</html>