<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../components/css.ejs') %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Page Data -->
    <title>About</title>
    <meta name="description" content="">
    <!-- Twitter MetaData -->
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
    <!-- Other Social Media MetaData -->
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <!-- Scripts -->
    <%- include ('../components/scripts.ejs') %>
</head>
<body>
    <%- include('../components/header') %>
    <main>
        <div class="myContainer">
            <section class="top">
                <h1>ABOUT ME</h1>
            </section>
            
        </div>
    </main>
    <%- include('../components/iconBar') %>
    <%- include('../components/footer') %>
</body>
</html>