<%- include('../components/head') %>
        <section class="myContainer">
            <section class="top">
                <h1>CONTACT ME</h1>
            </section>
            <% users.forEach(user => { %>
               
                <h2><%= user.first_name %></h2>
                <h2><%= user.last_name %></h2>
                <h3><%= user.isAdmin %></h3>
                <h4><%= user.password %></h4>
                <h5 id="user-info"></h5>
                <form action="/contact/<%= user.id %>?_method=delete" method="post" class="d-inline">
                    <button type="submit" class="btn red">DELETE</button>
                </form>
                        
                    
                
            <% }) %>
        </section>
    <%- include('../components/footer') %>