<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS/Fonts -->
    <%- include('../components/css') %>
    <!-- Canonical URL-->
    <link rel="canonical" id="canonical" href="">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="article"/>
    <!-- Page Data -->
    <title id="category-show-2"></title>
    <meta name="description" content="Blog articles displayed by category">
    <!-- Twitter MetaData -->
    <meta name="twitter:title" id="category-show-3" content="">
    <meta name="twitter:description" content="Blog articles displayed by category">
    <meta name="twitter:image" content="">
    <!-- Other Social Media MetaData -->
    <meta property="og:title" id="category-show-4" content="">
    <meta property="og:description" content="Blog articles displayed by category">
    <meta property="og:image" content="">
    <meta property="og:url" id="og-url" content="">
    <!-- Scripts -->
    <%- include('../components/scripts') %>
    <script type="module" src="/scripts/blog/category.js" defer></script>
</head>
<body>
    <%- include('../components/header') %>
    <main>
        <section class="myContainer">
            <section class="top home-top-header" id="articles-top">
                <section>
                    <h1 id="category-show"></h1>
                </section>
            </section>
            <% articles.forEach(article => { %>
                <article class="margin-btm-3 article-snippet">
                    <section class="container-component-level1">
                        <section>
                            <h2><%= article.title %></h2>
                        </section>
                        <div class="multiple-stuff-div">
                            <p><%= article.createdAt.toLocaleDateString() %></p>
                        </div>
                        <div class="description container-component-level2">
                            <%= article.description %>
                        </div>
                        <div class="multiple-btns-div">
                            <a class="btn blue" href="/blog/<%= article.slug %>">Read More</a>
                            <a href="" class="green btn">Share</a>
                        </div>
                        <div id="category-hidden" class="hidden"><%= article.category %> (All Articles)</div>
                    </section>
                </article>
            <% }) %>
        </section>
    <%- include('../components/footer') %>