<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/css') %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="article"/>
    <!-- Page Data -->
    <title>Edit Article</title>
    <meta name="description" content="Edit Article">
    <!-- Twitter MetaData -->
    <meta name="twitter:title" content="Edit Article">
    <meta name="twitter:description" content="Edit Article">
    <!-- Other Social Media MetaData -->
    <meta property="og:title" content="Edit Article">
    <meta property="og:description" content="Edit Article">
    <%- include('../components/scripts') %>
    <script type="module" src="/scripts/pages/edit.js" defer></script>
</head>
<body>
    <%- include('../components/header') %>
    <main>
        <section class="myContainer margin-btm-3 article">
            <section class="top">
                <h1>Edit Article</h1>
            </section>
            <form id="edit-form" action="/blog/<%= article.id %>?_method=put" method="post">
                <%- include('../components/formFields') %>
            </form>
        </section>
    </main>
    <%- include('../components/footer') %>
</body>
</html>

<!-- action="/blog/<%= article.id %>?_method=put" method="post" -->