<%- include('../components/head') %>
        <div class="banner">
            <img src="/images/read.jpg" alt="reading a book with glasses">
        </div>
        <section class="home-container">
            <section class="myContainer">
                <section class="top home-top-header" id="articles-top">
                    <section>
                        <h1>All Articles</h1>
                    </section>
                    <div class="search-container">
                        <form action="">
                            <input type="text" placeholder="Search.." name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </section>
                <ul class="articles-container">
                    <% articles.forEach(article => { %>
                        <li>
                            <article class="margin-btm-3 article-snippet">
                                <section class="container-component-level1">
                                    <section>
                                        <h2><%= article.title %></h2>
                                    </section>
                                    <div class="multiple-stuff-div">
                                        <p><%= article.createdAt.toLocaleDateString() %></p>
                                        <a class="b" href="/blog/category/<%= article.category_slug %>"><%= article.category %></a>
                                    </div>
                                    <div class="description container-component-level2">
                                        <%= article.description %>
                                    </div>
                                    <div class="multiple-btns-div">
                                        <a class="btn blue" href="/blog/<%= article.slug %>">Read More</a>
                                        <a href="" class="green btn">Share</a>
                                    </div>
                                </section>
                            </article>
                        </li>
                    <% }); %>
                </ul>
            </section>
            <aside class="category-container">
                <section>
                    <h2>Categories</h2>
                </section>
                <ul>
                    <% articles.forEach(article => { %>
                        <li>
                            <a href="/blog/category/<%= article.category_slug %>"><%= article.category %></a>
                        </li>
                    <% }); %>
                </ul>
            </aside>
        </section>
    <%- include('../components/iconBar') %>
    <%- include('../components/footer') %>