<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;0,800;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="article"/>
    <!-- Page Data -->
    <title><%= article.pageTitle %></title>
    <meta name="description" content="<%= article.pageDescription %>">
    <meta name="author" content="<%= article.author %>">
    <!-- Twitter MetaData -->
    <meta name="twitter:title" content="<%= article.twitterTitle %>">
    <meta property="twitter:description" content="<%= article.twitterDescription %>">
    <!-- <meta name="twitter:image" content="<%= article.twitterImg %>"> -->
    <!-- Other Social Media MetaData -->
    <meta property="og:title" content="<%= article.ogTitle %>">
    <meta property="og:description" content="<%= article.ogDescription %>">
    <!-- <meta property="og:image" content="<%= article.ogImg %>"> -->
    <meta property="og:url" content="<%= article.ogUrl %>">
    <script src="/scripts/top-btn.js" defer></script>
</head>
<body>
    <%- include('../components/header') %>
    <main>
        <section class="myContainer">
            <section class="top"><h1><%= article.title %></h1></section>
            <div class="multiple-stuff-div">
                <p><%= article.createdAt.toLocaleDateString() %></p>
                <a class="b" href=""><%= article.category %></a>
            </div>
            <div class="multiple-btns-div">
                <a class="btn blue" href="/">All Articles</a>
                <a class="btn green"href="edit/<%= article.id %>">EDIT</a>
            </div>
            <div><%- article.sanitizedHtml %></div>
        </section>
    </main>
    <%- include('../components/topButton') %>
    <%- include('../components/footer') %>
</body>
</html>